<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FeedBackFormCSE</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<<<<<<< HEAD
  <a href="/login">Login</a>
  <br>
  <a href="/signup">Signup</a>
  <br>
  <a href="/feedback">Feedback</a>
  <br>
  <a href="/submitSuccess">View Submitted Feedback</a>
  <br>
  <a href="/submitFailed">Retry Submission</a>
  <br>
  <a href="/profile">Profile</a>
  <br>
  <a href="/form">form Submission</a>

=======


    <a href="/login">Login</a>
    <br>
    <a href="/signup">Signup</a>
    <br>
    <a href="/feedback">Feedback</a>
    <br>
    <a href="/submitSuccess">View Submitted Feedback</a>
    <br>
    <a href="/submitFailed">Retry Submission</a>
    <br>
    <a href="/profile">Profile</a>
    <br>
    <a href="/form">Form page</a>
>>>>>>> 67446b2093a1196651f1c80341282d7f2e5d3eca
</body>

</html>