<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FeedBackFormCSE</title>
</head>
<body>
  <a href="/login">Login</a>
  <br>
  <a href="/signup">Signup</a>
  <br>
  <a href="/feedback">Feedback</a>
  <br>
  <a href="/submitSuccess">View Submitted Feedback</a>
  <br>
  <a href="/submitFailed">Retry Submission</a>
  <br>
  <a href="/profile">Profile</a>
  <br>
  <a href="/form">form Submission</a>

</body>
</html>